*{ 
    margin: 0;
    padding: 0;
    font-family:'Mulish', sans-serif;
    box-sizing: border-box;
}
:root {
    --primary-color: #082e3e;
    --secondary-color: #e9c675;
    --text-light: #cbd5e1;
    --orange-color: #f35405;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Playfair Display", serif;
  }

.header {
    min-height: 100vh ;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
  
img {
    width: 300px;
    color: white;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block ;
    padding: 8px 12px ;
    position: relative ;
}

.nav-links ul li a{
    color:white;
    text-decoration: aliceblue;
    text-align: none;
    font-size: 15px ;
}

.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover ::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    color: #ffffff;
    font-size: 62px;
    padding-top: 25%;
}

.text-box p{
    /* margin: 10px 0 40px; */
    font-size: 25px;
    color: white;
    padding-top: 10%;
}

.intro{
    min-height: 100vh ;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.sub-col {
    padding: 20px;
}

.sub-col img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

h1 {
    
    font-size: 28px;
    justify-content: center;
    text-align: center;
    padding: 3%;
}
h2{
    justify-content: center;
    text-align: center;
    padding: 3%;
    color: #6c794b;
}
/* SUMMARY TABLE */
.summary-table{
    padding-bottom: 3%;
}
.summary-table h2{
    justify-content: center;
    text-align: center;
    padding: 2%;
    color: #272e14;

}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-bottom: 15px;
}

p {
    color: #000000;
    justify-content: center;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    margin-top: 15px;
    justify-content: center;
}

@media (max-width: 600px) {
    .map iframe {
        height: 200px;
    }
}

    .summary-table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .summary-table thead tr {
        background-color: #224731;
        text-align: center;
        color: #eee;
        font-weight: bold;
    }

    .summary-table th,
    .summary-table td {
        padding: 12px 15px;
    }

    .summary-table tbody tr{
        border-bottom: 1px solid#f0f0f0;
    }

    .summary-table tbody tr:nth-of-type(even) {
        background-color: #a7cfad;
    }

    .summary-table tbody tr:last-of-type {
        border-bottom: 2px solid #476352;

    }

    .summary-table tbody tr.active-row {
        font-weight: bold;
        color: #224731;
    }


/* NEW */
.header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../back.jpg);
    background-position: center;    padding: 0 25px;
    transition: 0.3s;
    height: 100px;
}

.logo a{
    display: block;
}
.logo a img{
    display: block;
    width: 250px;
    height: 200px;
    margin-top: -135%; 
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*align-items: center;*/
    z-index:1;
    transition: 0.5s;
    margin-top: -65%;
    margin-right: 50PX;
    
}
.menu li{
    list-style-type: none;
}
.menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}
.menu li a:hover{
    box-shadow: 0 -5px 0px white inset,
    500px 0 0 rgba(255,255,255,0.05) inset;
    padding: 35px 25px 45px 25px;
}
.hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}
.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: white;
    border-radius: 10px;
    transition: 0.3s;
}
.hamburger:before{
    top: -10px;
    width: 20px;
}
.hamburger:after{
    top: 10px;
    width: 20px;
}
.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    padding: 0;
}
.hamburger,
.toggle-menu{
    display: none;
}
.navigation input:checked ~.hamburger{
    background: transparent;
}
.navigation input:checked ~.hamburger:before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~.hamburger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
@media screen and (max-width: 950px){
    .navigation input:checked ~ .menu{
        right: 0;
        box-shadow: -20px 0 40px rgba(0,0,0,0.3);
    }
    .hamburger,
    .toggle-menu{
        display: block;
        margin-top: -800PX;
        
    }
    .header {
        padding: 10px 20px;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right:-300px;
        background: #1a2717;
        width: 300px;
        height: 100%;
        margin-top: 4%;
        
    }
    .menu ul{
        margin-top: 5%;
    }
    .menu li{
        width: 100%;
    }
    .menu li a{
        padding: 30px;
        font-size: 24px;
        
    }
    .logo a img{
        display: block; 
        width: 280px;
        height: 200px;
        margin-top: -160%; 
        margin-left: 15%; 
    }
}
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 38px;
    }
}
@media(max-width:567px){
    .footer-col{
        width: 100%;
}
}
/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    border-bottom: 2px solid #ffc500;
    padding-bottom: 5px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    display: block;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    border-left: 6px solid transparent;
    padding-left: 0; /* Remove padding */
}

.footer-col .social-link {
    display: inline-block;
    padding: 5px;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.footer-col .social-link li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.footer-col .social-link i {
    color: #fff;
    font-size: 25px;
}

.footer-col .social-link a:hover {
    color: rgb(185, 94, 94);
    background-color: rgba(255, 255, 255, 0.5);
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #2c3e50;
    color: #ecf0f1;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #bdc3c7;
}

tbody tr:nth-child(even) {
    background-color: #d5e5e5;
}

tbody tr:hover {
    background-color: #a9dfbf;
}
tfoot td{
   text-align: center;
color: rgb(0, 0, 161);
font-weight: bold;
}




title{
    color: #dadada;
    font-weight: bold;
}

body {
    overflow-x: hidden; /* This hides the horizontal scrollbar */
}

.container {
    width: 100%; /* Adjust this to your desired width */
    top: 0;
    left: 0;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  .newsletter-signup {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  
  .newsletter-signup h2 {
    margin-bottom: 10px;
  }
  
  #signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #email {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
  }
  
  #message {
    color: green;
    font-weight: bold;
    margin: 0;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  button[type="submit"]:hover {
    opacity: 0.8;
  }
 /* style for popup page  */
.form-container{
    width: 80%;
    left: 80%;
    transform: translateX(-50%);
  
  }
  .popup{
    font-size: 20px;
    color: var(--white);
    background-color: var(--primary-color);
 }
  #login-dialog {
  
    margin: 30vh auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 80%;
    
  }
  dialog {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dialog-content {
    max-height: 400px;
    overflow-y: auto;
  }
  .close {
    position: absolute; 
    top: 10px;
    margin-right: 1px;
    width: 40px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .submit{
    position: absolute; 
    width: 80px;
    right: -10px;
    margin-bottom: 10vh;
    margin-right: 4vh;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Style for buttons */
  #login-dialog button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color); /* Button background color */
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-left: 72%;
    display: flex;
    flex-direction: column;
  }
  
  /* Style for buttons on hover */
  #login-dialog button:hover {
    background-color: var(--orange-color); /* Darker background color on hover */
  }
  
  @media screen and (max-width: 768px) {
    .form-container {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .form-container {
      width: 95%;
    }
  }
  
  /* end style  */
  .navigation {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  .menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0; 
    padding: 0; 
  }
  
  .menu li {
    list-style-type: none;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    padding: 25px 25px; 
    padding-top: 25px;
    font-size: 18px; 
    transition: 0.3s;
  }
  
  .menu li a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Add a hover effect */
  }
  
  