@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../i5.jpg') no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 48px;
    color: #fff;
    user-select: none;
}

.navigation a{
    text-decoration: none;
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.btnLogin-popup {
    width: 200px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background: transparent;
    border: 4px solid #fff; /* Increase border thickness */
    outline: none;
    border-radius: 12px; /* Increase border radius for a smoother look */
    cursor: pointer;
    font-size: 1.5em; /* Increase font size */
    color: #fff;
    font-weight: 700; /* Increase font weight for emphasis */
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure block-level display for centering */
    transition: .5s;
    text-align: center; /* Center the text horizontally */
}
.signin {
    position: inherit;
    padding-top: -20%;
    margin-left: 75vh;
    
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #009e15;
}

.icon-mail {
    background: url('../mail-icon.png');
    height: 24px;
    width: 24px;
    display: inline-block;
    /* Other styles here */
}

.icon-password {
    background: url('../lock-in-icon.png');
    height: 24px;
    width: 24px;
    display: inline-block;
    /* Other styles here */
}

.icon-close-i {
    background: url('../close-icon.png') no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    /* Other styles here */
}

.icon-user {
    background: url('../user-icon.png') no-repeat;
    height: 24px;
    width: 24px;
    display: inline-block;
    /* Other styles here */
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active {
    height: 520px;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0px);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #18c443;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #015e10;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon-mail, .icon-password, .icon-user {
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 1.2em;
    color: #369200;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #059605;
}

.remember-forgot a {
    color: #129101;
    text-decoration: none;
}

.remember-forgot a:hover {
    font-weight: 600;
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #00a116;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #4cbd02;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p {
    color: #fff;
}

.login-register p a {
    color: #309700;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}